.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color__999);
  /* box-shadow: var(--shadow--small), var(--shadow--large); */
  box-shadow: var(--shadow--large);
}

.card > img {
  display: block;
  /* I'm sure there was shadow on this image originally?! */
  /* box-shadow: var(--shadow--small); */
  width: 100%;
}
