.card {
  background-color: var(--color__999);
  border-radius: 2.5rem;
  overflow: hidden;
  box-shadow: var(--shadow--small), var(--shadow--large); /* reduce spread */
}

.card > img {
  width: 100%;
  display: block;
  box-shadow: var(--shadow--small);
}
