@import './theme.css';
@import './btn.css';
@import './annual-plan.css';
@import './card.css';
@import './order-summary-layout.css';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color__800);
}

body {
  padding: 0;
  margin: 0;
}
.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  position: relative;
}

.page-layout {
  flex-basis: 450px;
}
