@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  font-size: 8px;
  --font-primary: 'Red Hat Display', sans-serif;
  --color__000: rgba(0, 0, 0, 1);
  --color__100: rgba(35, 31, 32, 1);
  --color__200: rgba(31, 46, 85, 1);
  --color__300: rgba(30, 31, 205, 1);
  --color__400: rgba(56, 42, 225, 1);
  --color__500: rgba(118, 108, 241, 1);
  --color__600: rgba(105, 141, 255, 1);
  --color__700: rgba(113, 127, 166, 1);
  --color__800: rgba(214, 225, 255, 1);
  --color__900: rgba(224, 232, 255, 1);
  --color__950: rgba(247, 249, 255, 1);
  --color__999: rgba(255, 255, 255, 1);
  --shadow--small: 0 0.5rem 0.5rem RGBA(0, 0, 0, 0.25);
  --shadow--large: 0 2.5rem 2.5rem rgba(118, 108, 241, 0.18);
  --transition--out: 0.2s ease-in;
  --transition--in: 0.3s ease-out;
}
